version: "3.8"

networks:
  telemetry_network:
    driver: bridge

volumes:
  prometheus_data: {}
  grafana_data: {}

services:

  ##########################################################################
  # Prometheus
  ##########################################################################
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    restart: always
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--web.enable-remote-write-receiver'
      - '--storage.tsdb.retention.time=60d'
      - '--log.level=debug'
    ports:
      - "9090:9090"
    networks:
      - telemetry_network

  ##########################################################################
  # Grafana
  ##########################################################################
  grafana:
    image: grafana/grafana
    container_name: grafana
    user: "472"
    restart: always
    environment:
      GF_INSTALL_PLUGINS: >
        grafana-clock-panel,
        grafana-simple-json-datasource,
        grafana-piechart-panel,
        grafana-polystat-panel,
        briangann-gauge-panel,
        grafana-worldmap-panel
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    env_file:
      - ./grafana/config.monitoring
    ports:
      - "3000:3000"
    networks:
      - telemetry_network
